@font-face {
   font-family: Primary;
   src: url('../assets/font/Baloo\ Paaji\ Regular\ 400.ttf');
}
@font-face {
   font-family: Mostera;
   src: url('../assets//font/Montserrat-VariableFont_wght.ttf');
}
body {
   font-family: Primary;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
   .aboutme {
      font-family: Mostera;
   }
}
